{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>

    <div class="container mt-4">
        {% for listing in active_listings %}
        
        <div class="row mb-4">
            {% if listing.picture %}
            <div class="col-md-3">
                <img src="{{ listing.picture }}" class="img-fluid" alt="Listing Image">
            </div>
            {% endif %}
            <div class="{% if listing.picture %}col-md-9{% else %}col-md-12{% endif %}">
                <div class="row">
                    <div class="col-md-8">
                        <a href="{% url 'item' listing.id %}"><h3>{{ listing.item }}</h3></a>
                        <p>{{ listing.description }}</p>
                        <p>Price: ${{ listing.price }}</p>
                        <p>Date/Time: {{ listing.posted_at }}</p>
                        <p>Won in Auction by {{listing.user}}</p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


{% endblock %}